<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="my.licensed.plugin1.MyLicensedHandler1"
            id="my.licensed.plugin1.command1"
            name="My Licensed Command &amp;1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="licensing"
               label="&amp;Licensing">
            <command
                  commandId="my.licensed.plugin1.command1"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.licensing.core.licensedProducts">
      <product
            class="my.licensed.plugin1.MyLicensedProduct"
            id="cb4811fd-64a2-4e95-a758-ac9c716a6c31">
      </product>
   </extension>

</plugin>
